.container-1 {
    display: flex;
<<<<<<< HEAD
    /* 
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    */
    flex-direction: column;
=======
>>>>>>> 6b04c01e31d934d15341a2f4c65ba9780c7774b3
}

.container-1 div {
    border: 1px solid #ccc;
    padding: 10px;
}

.box-1 { 
    /* size of box:  e.g. 1/4 */
    flex: 1;
    order: 2;
}
.box-2 {
    /* size of box:  e.g. 2/4 */
    flex: 2;
    order: 1;
}
.box-3 { 
    /* size of box:  e.g. 1/4 */
    flex: 1;
    order: 3;
}